[submodule "container-freezer"]
	path = container-freezer
	url = https://github.com/ATNoG/container-freezer.git
[submodule "knative-freezer-plugin"]
	path = knative-freezer-plugin
	url = https://github.com/ATNoG/knative-freezer-plugin.git
